#notification {
	background-color: #ff33cc;
}

div {
	margin-bottom: 5px;
	padding: 10px;
}

.message {
	background-color: #009933;
	color: #FFFFFF;
	/* border = width style color */
	border: 1px solid #666666;
}

.error {
	background-color: red;
}