/*
Project Name: Relaxr Blog
Client: Relaxr
Author: Greg Buckner
Developer @GA in Santa Monica, CA
*/


/******************************************
/* SETUP
/*******************************************/

.clear {
  clear: both;
}

.overflow {
  overflow: auto;
}

.alignright {
  float: right;
}

.alignleft {
  float: left;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
 color: #606161;
 background: #f0efef;
 font-size: 24px;
 font-weight: 200;
 line-height: 1.4;
 font-family: 'Open Sans', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, a {
  color: #033048;
}

a {
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
}

.button {
  display: block;
  width: 280px;
  padding: 12px 0;
  border-radius: 5px;
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
}

.dropcap {
  float: left;
  font-size: 72px;
  line-height: 1.0;
  padding: 10px;
}

/******************************************
/* LAYOUT
/*******************************************/

/* turn container from ID into a class so I can use it multiple times */
.container { 
  width: 960px;
  margin: auto;
}

header {
  background: #033048;
  color: white;
  margin-bottom: 50px;
}

section#main {
  width: 700px;
  margin-bottom: 50px;
}

aside {
  width: 240px;
  margin-left: 20px;
}

section#cta {
  background: #f9e42e;
}

footer {
  padding: 50px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

h1.logo {
  font-size: 48px;
  font-weight: 800;
  color: #fff;
}

header {
  padding: 15px 0;
}

header a {
  font-size: 24px;
  font-weight: 600;
  color: #f9e42e;
  display: inline-block;
  padding: 20px;
}

article {
  border-bottom: 2px solid;
}

article h2 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
}

article img {
  margin-bottom: 20px;
}

article a {
  display: block;
  padding: 20px 0;
  text-align: right;
}

aside {
  margin-bottom: 50px;
}

aside h3 {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 10px;
}

aside nav a {
  font-weight: 300;
  display: block;
}

aside p {
  color: #033048;
  line-height: 1.2;
}

section#cta a {
  background: #033048;
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
}

footer {
  background: #121212;
  color: white;
  font-weight: 200;
  font-size: 28px;
  text-align: center;
}

footer nav {
  margin-bottom: 50px;
}

footer nav a {
  padding: 20px;
}

footer .logo {
  color: yellow;
  margin-bottom: 50px;
}

footer p {
  font-size: 16px;
  font-weight: 600;
}


/* MOBILE STYLES */


/*write a style that will hide the divs inside the header */

@media only screen and (max-width: 500px) {

  .container { 
  width: 90%;
  margin: auto;
}

header {
  background: #033048;
  color: white;
  margin-bottom: 10px;
}

  header a {
  font-size: 16px;
  font-weight: 600;
  color: #f9e42e;
  padding: 5px;

}

section#main {
  width: 90%;
  margin-bottom: 50px;
}

article h2 {
  font-size: 32px;
}


article img {
  width: 360px;
}

body {

 font-size: 20px;
 font-weight: 200;
 line-height: 1.4;
 font-family: 'Open Sans', Arial, sans-serif;
}

#hidead {
  display: none;
}

.mobilestack {
  float: left;
}

aside {
  width: 90%;
  margin: 10px auto;
}

}
