
/* to create the 3 column layout with spaces in between */

.blue {
	height: 19%;
	width: 100%;
	background: #44accf;
	margin-bottom: 1%;
}

.pink { 
	background: #ee3e64;
	width: 24%;
	height: 59%;
	margin-right: 1%;
	float: left;
	 }

.green { 
	background: #b7d84b; 
	height: 59%;
	width: 50%;
	margin-right:1%;

	}

.purple { 
	background: #520577;
	height: 59%;
	width: 24%;

}

.orange { 
	background: #E2A741; 
	height:19%;
	width: 100%;
	margin-top: 1%;
}

.float {
	float: left;
}

.float-right {
	float: right;
}